<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="" role="tab" aria-controls="home"
            aria-selected="true">Trang Chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" routerLink="/list-movies" role=" tab"
            aria-controls="profile" aria-selected="false">Danh Sách Phim</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="/news" role="tab" aria-controls="contact"
            aria-selected="false">Tin Tức</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="/contact" role="tab" aria-controls="contact"
            aria-selected="false">Liên Hệ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="/list-seats" role="tab"
            aria-controls="contact" aria-selected="false">Danh Sách Ghế</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="/register" role="tab" aria-controls="contact"
            aria-selected="false">Đăng Ký</a>
    </li>
</ul>
<router-outlet></router-outlet>